%unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
%cf {
  @include clearfix();
}
%nav-horiz {
  @extend %unstyled;
  @extend %cf;

  > a {
    display:inline-block;
   *display:inline;
    zoom:1;
  }

}

%hidden {
  display: none !important;
}

%accordion {
  @include transition(max-height .4s ease-out);
  overflow: hidden;
  max-height: 0;

  &.open {
    max-height: 999px;
  }
}