.pg-content {
  @include grid-row();
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  > .pg-inner {
    @include grid-column(12);
    min-height: em(300);

    @include respond-to($medium) {
      @include grid-column(7);
    }
    
    h2, h3 {
      color: $blue;
    }

    h3 {
      font-family: $sans;
      font-weight: normal;
      text-transform: uppercase;
    }

    a {
      color: $blue;

      #{$pseudos} {
        color: $txt;
      }
      
    }
    
  } // pg-inner

  > .sidebar {
    @include grid-column(12);

    @include respond-to($medium) {
      @include grid-column(4, $float: right);
    }

    table {
      border-radius: 4px;
      border: 1px solid $hr;
    }
    tr {
      border-radius: 4px;
    }
  }
}