.pg-content {
  @include grid-row();

  > .pg-inner {
    @include grid-column(10);
    min-height: em(300);
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    @include respond-to($medium) {
      @include grid-column(12);
    }

    a {
      color: $blue;

      #{$pseudos} {
        color: $txt;
      }
      
    }
    
  }
}