.social-nav {
  @include grid-column(10, $center: true);
  text-align: center;

  @include respond-to($small) {
    @include grid-column(8, $center: true);
  }

  @include respond-to($medium) {
    @include grid-column(6, $center: true);
  }
  
  a {
    width: 50%;
    float: left;
    margin-bottom: 16px;

    &:nth-child(3) {
      clear: left;
    }

    @include respond-to($medium) {
      width: 25%;
      margin-bottom: 0;

      &:nth-child(3) {
        clear: none;
      }

    }

  }

}