.cta {
  @include hide-text();
  @include transition(opacity .2s);
  display: inline-block;
  width: (198/2) * 1px;
  height: (67/2) * 1px;

  @include respond-to($medium) {
    width: 198px;
    height: 67px;
  }

  #{$pseudos} {
    opacity: .75;
  }
  
}
.cta--appstore {
  background: image-url('ios-store.png');
  background-size: 100%;
}
.cta--android {
  background: image-url('android-store.png');
  background-size: 100%;
}

.lower-cta {
  padding: 2em 0;
  text-align: center;
}