.hero {
  padding-top: 2em;
  background: $blue image-url('hero-bg.jpg');
  color: white;
  overflow: hidden;
  
  &:after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    box-shadow: 0 -12px 75px 25px rgba(0,0,0,.45);
    position: relative;
    z-index: 2;
  }

  .pg-contact &:after,
  .pg-about &:after {
    display: none;
  }

}

.banner-inner {
  @extend %cf;
  padding-top: .5em;

  @include respond-to($medium) {
    padding-top: 5em;
  }
  
  p {
    margin-bottom: 0;
  }

  .banner--phone {
    @include grid-column(12);
    top: 20px;

    @include respond-to($medium) {
      @include grid-column(6, $collapse: true, $pull: 6);  
    }
    
    .banner--phone--hand {
      position: relative;
      z-index: 2;
    }

    .banner--phone--bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: $column-gutter / 2;
      bottom: 0;
      left: $column-gutter / 2;
      max-width: 636px;
      height: 100%;
      text-align: right;

      @include respond-to($medium) {
        max-width: 100%;
        right: 0;
        left: 0;
      }

      // dummy transparent shiv so we get some proper resizing
      // data uri, so at least we're savign on http hits
      // I think.
      img {
        position: relative;
        top: -((20*100)/726) * 1%; // offset top from phone to "screen" / height of hand img, as %
        left: -((92*100)/600) * 1%; // offset left from phone to "screen" / width of hand img, as %
        width: 45.23899%;
        height: 100%;
        background: transparent image-url('app-hero.gif') no-repeat right center;
        background-size: 96%;
      }
    }

  }

  .banner--message {
    @include grid-column(12);
    text-align: center;
    margin-bottom: 2em;

    @include respond-to($medium) {
      @include grid-column(6, $collapse: true, $push: 6);
      margin-bottom: 0;
    }

    h2 {
      position: relative;
      left: -40px;

      @include respond-to($medium) {
        left: -120px;
      }
    }

    p {
      text-align: center;

      @include respond-to($medium) {
        text-align: left;
        padding-left: 2.5em;
      }
    }
    
  }

}