.social-nav {
  @extend %cf;
  
  a {
    @include hide-text();
    display: inline-block;
    // width: 85px;
    height: 85px;
    // margin-right: 35px;
    background: transparent no-repeat center center;
    vertical-align: top;

    &:last-of-type {
      margin-right: 0;
    }

  }
  .fb {
    background-image: image-url('facebook.png');
  }
  .tw {
    background-image: image-url('twitter.png');
  }
  .email {
    background-image: image-url('email.png');
  }
  .insta {
    background-image: image-url('instagram.png');
  }
}