body {
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.5;
  color: $txt;
  background-color: white;

  @include respond-to($large) {
    padding: 0;
  }

}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
  // only push down, keeps things saner
  margin-top: 0;
}
p {
  font-size: em(14);
}
a {
  @include transition(color .25s);
  text-decoration: none;  

  #{$pseudos} {
    text-decoration: none;
  }

}

@include placeholder($txt);